@model Desafio.Services.Models.ReportDTO

@{
    ViewData["Title"] = "Report - Detail";
}

<h1>Detail</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerboseMsg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerboseMsg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positives)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positives)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                ToolName
            </th>
            <th>
                Version
            </th>
            <th>
                Update
            </th>
            <th>
                Detected
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Items != null && Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.ToolName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Update)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Detected)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Result)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

